kickstarts/*
!kickstarts/.gitkeep
answers/*
!answers/.gitkeep
!answers/*.example.json
output/*
output/kickstart/*.ks
output/isos/*.iso
!output/isos/.gitkeep
!output/kickstarts/.gitkeep
*.iso
.venv
secrets/*
